.barkBackground
{
	background-image:url('../img/tree_bark.png');
	background-repeat:repeat;
}


.stylishFont {
    font-family: Stylish, Helvetica, Arial, sans-serif;
}


@font-face {
	font-family: 'Stylish';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/Stylish.ttf');
}

/*.destinations div{
	.roundedCorners;
	.dropShadows;	
}*/

.article{
	margin: 20px;
	padding: 20px;
}

.articleTitle{
	font-size: 18px;
	margin-bottom: 10px;
}

.roundedCorners{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.whiteBackground{
	background-color: white;	
}

.dropShadow{
	-webkit-box-shadow: 2px 2px 10px #333333;
	-moz-box-shadow: 2px 2px 10px #333333;
	-ms-box-shadow: 2px 2px 10px #333333;
	-o-box-shadow: 2px 2px 10px #333333;
	box-shadow: 2px 2px 10px #333333;
}

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
}

img.thumbnail{
	height: 100px;
}
