.texturedGreySquares{
  background-image:url('../img/grey.png');
  background-repeat:repeat;
 }

.weddingGradient{
  background-image: url("../img/wedding/bg_tile.jpg");
  background-repeat: repeat;
 }

.doodle{
	position: absolute;
}

#storyDoodle{
	margin-left: -200px;
}

#storyDoodle2{
	float: right;
}

.weddingHeaderContainer{
	background-image: url( '../img/wedding/header_bg.png');
	background-repeat:repeat-x;
	height: 154px;
	position: relative;
	z-index: 2;
}

.weddingInfoContainer{
	margin: -20px 0 50px 0;
	padding-top: 20px;
	background-image: url( '../img/wedding/texture.png');
	background-repeat:repeat;
	position: relative;
	z-index: 1;
}

.animatedGIF {
    width: 500px;
}

.animatedGIFSmall{
    width: 300px;
}

.gifListTitle {
	padding-top: 30px;
	font-size: 20px;
}

.gifListText {
	padding: 30px;
}

a img{
    margin: 20px;
}

.article{
	margin: 20px;
	padding: 20px;
}

.articleTitle{
	font-size: 18px;
	margin-bottom: 10px;
}

.roundedCorners{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.whiteBackground{
	background-color: white;	
}

.dropShadow{
	-webkit-box-shadow: 2px 2px 10px #333333;
	-moz-box-shadow: 2px 2px 10px #333333;
	-ms-box-shadow: 2px 2px 10px #333333;
	-o-box-shadow: 2px 2px 10px #333333;
	box-shadow: 2px 2px 10px #333333;
}

.center {
	margin: 0 auto;
}

img.thumbnail{
	height: 100px;
}




.headerLeftText {
	background: url('../img/wedding/sprite.png') -313px 0px no-repeat;
	background-repeat: no-repeat;
	position: relative;
	width: 500px;
	height: 50px;
	margin-top: -50px;
	margin-left: -70px;
	z-index: 3;
}


.menuItemBox {
    background-clip: border-box; 
	cursor: pointer;
	height: 180px;
	margin: 0 auto;
}

#menuItemBoxStory {
    background: url('../img/wedding/sprite.png') -20px -125px no-repeat;
    width: 290px;
}
#menuItemBoxCeremony {
    background: url('../img/wedding/sprite.png') -313px -125px no-repeat; 
    width: 280px;
}
#menuItemBoxParty {
    background: url('../img/wedding/sprite.png') -593px -125px no-repeat; 
    width: 290px; 
}
#menuItemBoxRegistry {
    background: url('../img/wedding/sprite.png') -20px -311px no-repeat; 
    width: 290px; 
}
#menuItemBoxInfo {
    background: url('../img/wedding/sprite.png') -315px -311px no-repeat;
    width: 280px;  
}
#menuItemBoxPhotos {
    background: url('../img/wedding/sprite.png') -600px -311px no-repeat; 
    width: 290px;
}


.weddingFont {
	font-weight: 700;
	font-family: Witness, Helvetica, Arial, sans-serif;
	font-size: 48px;
}


.carousel-inner img{
	max-height: 400px;
}

.carouselText{
	margin-bottom: 20px;
}

@font-face {
	font-family: 'Witness';
	font-family: 'Witness';
	font-style: normal;
	font-weight: 800;
	src: url('fonts/Witness.ttf');
}


.weddingContainerWrapper{
	margin-top: 30px;
	margin-bottom: 30px;
}

.chalkboardImage{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 700px;
}

.chalkboardBackground {
	background-image: url("../img/wedding/chalkboard.png");
}

.registryImage {
    max-height: 50px;   
}