body {
    background-color: rgb(236,251,247);    
}

div {
    font-family: Shadows Into Light Two, Helvetica, Arial, sans-serif;
}


@font-face {
	font-family: 'Shadows Into Light Two';
	font-style: normal;
	font-weight: 400;
	src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(http://themes.googleusercontent.com/static/fonts/shadowsintolighttwo/v1/gDxHeefcXIo-lOuZFCn2xU9H8fLq5zs1M0-u6-ewBcM.woff) format('woff');
}

/*.destinations div{
	.roundedCorners;
	.dropShadows;	
}*/

.article{
	margin: 20px;
	padding: 20px;
}

.articleTitle{
	font-size: 18px;
	margin-bottom: 10px;
}

.roundedCorners{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.whiteBackground{
	background-color: white;	
}

.dropShadow{
	-webkit-box-shadow: 2px 2px 10px #333333;
	-moz-box-shadow: 2px 2px 10px #333333;
	-ms-box-shadow: 2px 2px 10px #333333;
	-o-box-shadow: 2px 2px 10px #333333;
	box-shadow: 2px 2px 10px #333333;
}

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
}

img.thumbnail{
	height: 100px;
}
