<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
            
            <div ng-repeat="item in Model">
                <div class="row">
                    <a href="{{item.destinationURL}}">
                        <div class="col-xs-6">
                            <img class="roundedCorners animatedGIF img-responsive" ng-src="{{item.imageURL}}"/>
                        </div>
                        <div class="col-xs-6">
                            <div class="row" ng-show="item.title">
                                <div class="col-xs-12 gifListTitle">{{item.title}}</div><br/>
                            </div>

                            <div class="row" ng-show="item.text">
                                <div class="col-xs-12 gifListText">{{item.text}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
