<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8 whiteBackground roundedCorners">
			
			<p>
				This is a story of Beth and John, and how God put them together!
			</p>
			<p>
				[Details of John's Past]
			</p>
			<p>
				[Details of Beth's Past]
			</p>
			<p>
				[Details of How We Met]
			</p>
			<p>
				[Details of Dating (7 months)]
			</p>
			<p>
				[Details of Long-Distance (14 months)]
			</p>
			<p>
				[Details of Engagement]
			</p>
			<p>
				[Details of Wedding Planning!]
			</p>
			
			
		</div>
		<div class="span2"></div>
	</div>
</div>