<div class="row">
	
	<div class="span8 offset2">
		<center>
			<h2 class="weddingFontHeader">DIRECTIONS</h2>
			<h4 class="typewriterFont">
				<p>The First Presbyterian Church of Brighton is located in downtown Brighton,</p>
				<p>near the corner of Grand River Ave and Main St. Please park behind the church.</p>
				<p>The Howell Opera House is located in downtown Howell, at the corner of Grand River Ave and North Walnut St.</p>
				<p>Please park to the south, in the parking lot between Washington St. and Crane St.</p>
			</h4>
			<hr>
			<h2 class="weddingFontHeader">ATTIRE</h2>
			<h4 class="typewriterFont">
				<p>Please come dressed to impress!</p>
			</h4>
			<hr>
			<h2 class="weddingFontHeader">ACCOMODATIONS</h2>
			<h4 class="typewriterFont">
				<p>If you are looking to stay in the area, please join our other guests and make your reservation at the <a href="http://cpw.marriott.com/dtwbr/wensleytibblewedding/">Brighton Marriott</a>.</p>
			</h3>
			<hr>
		</center>
	</div>
</div>