<div class="row">
	
	<div class="span8 offset2">
		<center>
			<div class="weddingFontHeader">directions</div>
			<div class="weddingFont">
				<p>The First Presbyterian Church of Brighton is located in downtown Brighton,</p>
				<p>near the corner of Grand River Ave and Main St. Please park behind the church.</p>
				<p>The Howell Opera House is located in downtown Howell, at the corner of Grand River Ave and North Walnut St.</p>
				<p>Please park to the south, in the parking lot between Washington St. and Crane St.</p>
			</div>
			<hr>
			<div class="weddingFontHeader">attire</div>
			<div class="weddingFont">
				<p>please come dressed to impress. remember, there will be dancing!</p>
			</div>
			<hr>
			<div class="weddingFontHeader">accomodations</div>
			<div class="weddingFont">
				<p>If you are looking to stay in the area, please join our other guests and make your reservation at the <a href="http://cpw.marriott.com/dtwbr/wensleytibblewedding/">Brighton Marriott</a>.</p>
			</div>
			<hr>
		</center>
	</div>
</div>