<div class="row">
	<div id="partyCarousel" class="carousel slide">
	
	<!-- Carousel items -->
		<center>
			<div class="carousel-inner">
                {{  
                    _.each( model, function(person, index){ 
                        var classText = 'item';
                        if( index == 0 ){ classText += ' active'; }
                }}
					<div class="{{=classText}}">
						<div class="carouselText weddingFont">
                            <h2>{{=person.title}}, {{=person.subtitle}}</h2>
                        </div>
						<img src="img/wedding/party/{{=person.url}}">
					</div>
                {{ }); }}
			</div>
		</center>
		
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#partyCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#partyCarousel" data-slide="next">&rsaquo;</a>
	
	</div>

</div>