<div class="row">
	<div id="partyCarousel" class="carousel slide">
	
	<!-- Carousel items -->
		<center>
			<div class="carousel-inner">
					<div class="active item">
						<div class="carouselText weddingFont">bryan cable, best man, college friend</div>
						<img src="img/wedding/party/bryan.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">amy wensley, maid of honor, bride's sister</div>
						<img src="img/wedding/party/amy.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">mark bishop, college friend</div>
						<img src="img/wedding/party/mark.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">sarah tibble, groom's sister</div>
						<img src="img/wedding/party/sarah.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">jim dinardo, college friend</div>
						<img src="img/wedding/party/jim.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">laura goben, college friend</div>
						<img src="img/wedding/party/laura.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">justin gibson, college friend</div>
						<img src="img/wedding/party/justin.jpg">
					</div>
					<div class="item">
						<div class="carouselText weddingFont">analissa forsgren, college friend</div>
						<img src="img/wedding/party/analissa.jpg">
					</div>
			</div>
		</center>
		
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#partyCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#partyCarousel" data-slide="next">&rsaquo;</a>
	
	</div>

</div>