<div class="row">
	<div id="photosCarousel" class="carousel slide">
	
	<!-- Carousel items -->
		<center>
			<div class="carousel-inner">
					<div class="active item">
						<img src="img/wedding/photos/barn.jpg">
					</div>
					<div class="item">
						<img src="img/wedding/photos/farmersMarket.jpg">
					</div>
					<div class="item">
						<img src="img/wedding/photos/wedding.jpg">
					</div>
			</div>
		</center>
		
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#photosCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#photosCarousel" data-slide="next">&rsaquo;</a>
	
	</div>

</div>