<div class="row">
	
	<div class="span8 offset2 weddingFont">
		<center>
            <p><h2>we are registered at</h2></p>
            <p>
                <a target="_blank" href="http://www.target.com/GiftRegistrySearchViewCmd?registryType=WD&jsRequest=true&catalogId=10051&status=completePage&cumulativeTime=-1&listId=260esfoBxAY77eNLQ1q2Bg&noOfPings=&registryFirstName=john&langId=-1&segmentGrpName=-1&storeId=10151&registryLastName=tibble">
                    <img class="registryImage" src="img/wedding/registry/target.png">
                </a>
            </p>
            <p>
                <a target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=13146865&eventType=Wedding">
                    <img class="registryImage" src="img/wedding/registry/bbb.png">
                </a>
            </p>
            <p>
                <a target="_blank" href="http://www.crateandbarrel.com/Gift-Registry/Bethany-Wensley-and-John-Tibble/r5101195">
                    <img class="registryImage" src="img/wedding/registry/cb.png">
                </a>
            </p>
		</center>
	</div>
</div>