<div class="row">
	
	<div class="span8 offset2 weddingFontHeader">
		<center>
			<h2 class="weddingFontHeader">WE ARE REGISTERED AT</h2>
			<a target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=13146865&eventType=Wedding">
				<img class="registryImage" src="img/wedding/registry/bbb.png">
			</a>
			<br>
			<a target="_blank" href="http://www.honeyfund.com/wedding/bethandjohn2014">
				<img class="registryImage" src="img/wedding/registry/honeyfund.png">
			</a>
			<br>
			<a target="_blank" href="http://www.crateandbarrel.com/Gift-Registry/Bethany-Wensley-and-John-Tibble/r5101195">
				<img id="registryCrateAndBarrel" class="registryImage" src="img/wedding/registry/cb.png">
			</a>
			
		</center>
	</div>
</div>