<div id="header" class="weddingHeaderContainer"></div>

<!--<div class="container">
	<div class="row">
		<div class="span5">
			<div class="headerLeftText"></div>
		</div>
		<div class="span2">
			<div>
				<img src="img/wedding/logo.png">
			</div>
		</div>
		<div class="span5">
			<div class="headerRightText"></div>
		</div>
	</div>
</div>-->

<div class="weddingInfoContainer">
    <center>
        <img src="img/wedding/info.png">
    </center>
</div>

<div class="container weddingContainerWrapper">
	<div class="row">
		<div id="weddingContainer" class="span12"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span4">
			<div id="menuItemBoxStory" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxCeremony" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxParty" class="menuItemBox"></div>	
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div id="menuItemBoxRegistry" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxInfo" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxPhotos" class="menuItemBox"></div>	
		</div>
	</div>
</div>

<div class="container weddingFooter">
    <hr>
    <p>built by <a target="_blank" href="http://jtibble.com">john tibble</a></p>
</div>
