<div class="container-fluid">

	<div class="row-fluid">
		<div class="span12">
			<h2 class="text-center">Beth and John are getting married!</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<h4 class="text-center">Thanks for joining us in our celebration!</h4>
		</div>
	</div>
		
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8">
			<div class="row-fluid">
				<div class="span4 text-center"><a href="#wedding/aboutUs">About Us</a></div>
				<div class="span4 text-center"><a href="#wedding/information">Wedding Information</a></div>
				<div class="span4 text-center"><a href="#wedding/registry">Registry</a></div>
			</div>
		</div>
		<div class="span2"></div>
	</div>
</div>