<center>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				
				If you're curious about bitcoin, you've come to the right place! Choose an option below for more information.
				
				
				<div>>What is Bitcoin?</div>
				<div>How can I use Bitcoin?</div>
				<div>Where can I get Bitcoin?</div>
				<a href="#bitcoin/store">Can you teach me about Bitcoin?</a>
				
				
				
				If you use Google Chrome, check out the <a href="https://chrome.google.com/webstore/detail/blockchaininfo-address-se/aipmpbhchlkopmpoaipbelfpniojcnkb">free Chrome Extension I wrote</a> to help you look up bitcoin addresses. If you want to see the source code, it's available <a href="https://github.com/jtibble/Blockchain.info-Search-Chrome-Extension">here</a>.
			</div>
			<div class="span2"></div>
		</div>
	</div>
</center>