<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8 whiteBackground roundedCorners">
			I'm an avid Bitcoin enthusiast, and I'd love to tell you more about them!<br><br>
            
            If you use Google Chrome, check out the <a href="https://chrome.google.com/webstore/detail/blockchaininfo-address-se/aipmpbhchlkopmpoaipbelfpniojcnkb">free Chrome Extension I wrote</a> to help you look up bitcoin addresses. If you want to see the source code, it's available <a href="https://github.com/jtibble/Blockchain.info-Search-Chrome-Extension">here</a>.
		</div>
		<div class="span2"></div>
	</div>
</div>