<center>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				<p>If you use Google Chrome, check out the <a href="https://chrome.google.com/webstore/detail/blockchaininfo-address-se/aipmpbhchlkopmpoaipbelfpniojcnkb">free Chrome Extension I wrote</a> to help you look up bitcoin addresses. If you want to see the source code, it's available <a href="https://github.com/jtibble/Blockchain.info-Search-Chrome-Extension">here</a>.</p>
                
                <p>Also check out the work I've helped with on the <a href="https://github.com/CoinDocs/bitcoin-docs">Bitcoin Docs</a> project!</p>
                
                <p><img src="img/bitcoin/SenateBitcoinHearing.gif"></p>
			</div>
			<div class="span2"></div>
		</div>
	</div>
</center>