<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span10">
            <a href="#umich"><img class="roundedCorners animatedGIFSmall" src="img/graphics/lava.png"/>Procedural Lava built with OpenGL pixel/vertex shader</a><br>
            <a href="http://www.youtube.com/watch?v=aRQ1kERO740"><img class="roundedCorners animatedGIFSmall" src="img/umich/fish.gif"/>GLSL skin shader</a><br>
            <a href="http://www.youtube.com/watch?v=06PcssicSjw"><img class="roundedCorners animatedGIFSmall" src="img/graphics/mayaTexturing.gif"/>Texturing exercise for modeling and animation class</a><br>
            <a href="http://www.youtube.com/watch?v=gZV20n8QwcM"><img class="roundedCorners animatedGIFSmall" src="img/graphics/blenderFirstTest.gif"/>First attempt rendering with Blender</a><br>
            <a href="http://www.youtube.com/watch?v=1uk8Ldmg-M8"><img class="roundedCorners animatedGIFSmall" src="img/graphics/blenderBulletPhysics.gif"/>Blender now includes the Bullet Physics library</a><br>
            <a href="http://www.youtube.com/watch?v=azC6QjUZ2Lo"><img class="roundedCorners animatedGIFSmall" src="img/graphics/blenderShatter.gif"/>Blender's "Cell Fracture" plugin</a><br>
            <a href="http://www.youtube.com/watch?v=dWZDofaDH4Y"><img class="roundedCorners animatedGIFSmall" src="img/graphics/blenderBulletEmission.gif"/>Animated in Blender, rendered with Cycles</a><br>
		</div>
		<div class="span1"></div>
	</div>
</div>