<center>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2 offset2 dropShadow roundedCorners">
				<a href="#wedding"><img class="roundedCorners" src="img/pictureOfUs.jpg"/></a>
			</div>
			<div class="span2">
				<a href="#bitcoin"><img src="img/bitcoinLogo.png"/></a>
			</div>
			<div class="span2 roundedCorners">
				<a href="#umich"><img class="roundedCorners"  src="img/umich.png"/></a>
			</div>
			<div class="span2 roundedCorners">
				<a href="http://www.linkedin.com/in/jtibble"><img class="roundedCorners"  src="img/LinkedInLogo.png"/></a>
			</div>
		</div>
	</div>
</center>