<center>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2 offset2 roundedCorners">
				<a href="#wedding"><img class="roundedCorners" src="img/pictureOfUs.jpg"/>Wedding</a>
			</div>
			<div class="span2">
				<a href="#bitcoin"><img src="img/bitcoinLogo.png"/>Bitcoin</a>
			</div>
			<div class="span2 roundedCorners">
				<a href="#umich"><img class="roundedCorners" src="img/umich.png"/>School Projects</a>
			</div>
			<div class="span2 roundedCorners">
				<a href="http://www.linkedin.com/in/jtibble"><img class="roundedCorners"  src="img/LinkedInLogo.png"/>Profile</a>
			</div>
		</div>
        <br>
		<div class="row-fluid">
			<div class="span2 offset3 roundedCorners">
				<a href="#robotics"><img class="roundedCorners" src="img/robot.jpg"/>Robotics</a>
			</div>
			<div class="span2 roundedCorners">
				<a href="#graphics"><img class="roundedCorners" src="img/graphics.png"/>Computer Graphics</a>
			</div>
			<div class="span2 roundedCorners">
				<a href="#leasingsource"><img class="roundedCorners" src="img/leasingsource.png"/>GE Capital Americas LeasingSource</a>
			</div>
		</div>
	</div>
</center>