<center>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 roundedCorners">
				<a href="#wedding"><img class="roundedCorners img-responsive" src="img/wedding/pictureOfUs.jpg"/>Wedding</a>
			</div>
			<div class="col-xs-3">
				<a href="#bitcoin"><img class="img-responsive" src="img/bitcoin/bitcoinLogo.png"/>Bitcoin</a>
			</div>
			<div class="col-xs-3 roundedCorners">
				<a href="#umich"><img class="roundedCorners img-responsive" src="img/umich/umich.png"/>School Projects</a>
			</div>
			<div class="col-xs-3 roundedCorners">
				<a href="http://www.linkedin.com/in/jtibble"><img class="roundedCorners img-responsive"  src="img/LinkedInLogo.png"/>Profile</a>
			</div>
		</div>
        <br>
		<div class="row">
			<div class="col-xs-3 roundedCorners">
				<a href="#robotics"><img class="roundedCorners img-responsive" src="img/robotics/robot.jpg"/>Robotics</a>
			</div>
			<div class="col-xs-3 roundedCorners">
				<a href="#graphics"><img class="roundedCorners img-responsive" src="img/graphics/graphics.png"/>Computer Graphics</a>
			</div>
			<div class="col-xs-3 roundedCorners">
				<a href="#leasingsource"><img class="roundedCorners img-responsive" src="img/work/leasingsource.png"/>GE Capital Americas LeasingSource</a>
			</div>
			<div class="col-xs-3 roundedCorners">
				<a href="http://nodejs.jtibble.com"><img class="roundedCorners img-responsive" src="img/experiments.png"/>Experiments</a>
			</div>
		</div>
	</div>
    <br><br>
    Find all of the code for this site at my <a href="http://github.com/jtibble/">Github page</a>.
</center>