<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span10">
            <a href="http://www.youtube.com/watch?v=MtgnZGaljbg"><img class="roundedCorners animatedGIFSmall" src="img/robotics/robots.gif"/>MAGIC 2010 Autonomous Robotics Competition</a><br>
            <a href="http://www.youtube.com/watch?v=AcvheysmuvE"><img class="roundedCorners animatedGIFSmall" src="img/robotics/peopleTracker.gif"/>LIDAR-based Person-Tracker</a><br>
            <a href="http://www.youtube.com/watch?v=0DDX7VSyCq0"><img class="roundedCorners animatedGIFSmall" src="img/robotics/odometry.gif"/>Building a LIDAR map from pure odometry, collected on each wheel and integrated</a><br>
            <a href="http://www.youtube.com/watch?v=P3-UXN2_yto"><img class="roundedCorners animatedGIFSmall" src="img/robotics/competition.gif"/>Robotics class-competition, to follow the line using the tag-tracking data provided by a ceiling-mounted camera</a><br>
            <a href="http://www.youtube.com/watch?v=TyW1BPpHy18"><img class="roundedCorners animatedGIFSmall" src="img/robotics/bicycle.gif"/>"Bicycle" driving algorithm simulation</a><br>
            <a href="http://www.youtube.com/watch?v=uY96ye92m2s"><img class="roundedCorners animatedGIFSmall" src="img/robotics/robotArm.gif"/>Arm uses Jacobian of joint angles to move, overhead camera to identify targets</a><br>
            
		</div>
		<div class="span1"></div>
	</div>
</div>