<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span10">
			<div class="row-fluid"></div>
            
            <a href="#robotics/april"><img class="roundedCorners" src="img/robots.gif" width="300px"/>APRIL Robotics Lab</a><br>
            <a href="#umich/TNB">"Thrash 'N' Burn", an OpenGL 3D racing/combat game for Senior Design</a><img class="roundedCorners" src="img/umich/tnb1.png" width="300px"/><br>
            <a href="#umich/graphics"><img class="roundedCorners" src="img/umich/fish.gif" width="300px"/>Computer Graphics Projects</a><br>
            <a href="#umich/pursuit"><img class="roundedCorners" src="img/umich/pursuitRevealShort.gif" width=300px"/>"Pursuit", a live-action special-effects-demo chase scene</a>
		</div>
		<div class="span1"></div>
	</div>
</div>