<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8 whiteBackground roundedCorners">
			During my time as an undergrad in U of M's Computer Science department, I worked on many projects that I'd like to share with you!<br><br>
            
            Click an option for more details.<br><br>
            
            <a href="#robotics/april">APRIL Robotics Lab</a><br>
            <a href="#umich/TNB">"Thrash 'N' Burn", an OpenGL 3D racing/combat game for Senior Design</a><br>
            <a href="#umich/graphics">Computer Graphics Projects</a><br>
            <a href="#umich/pursuit">"Pursuit", a live-action special-effects-demo chase scene</a>
		</div>
		<div class="span2"></div>
	</div>
</div>