<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1"></div>
		<div class="span10">
            <a href="#umich/TNB"><img class="roundedCorners animatedGIF" src="img/umich/ThrashNBurnSmall.png"/>"Thrash 'N' Burn", an OpenGL 3D racing/combat game for Senior Design</a><br>
            <a href="#graphics"><img class="roundedCorners animatedGIF" src="img/umich/fish.gif"/>Computer Graphics Projects</a><br>
            <a href="#robotics"><img class="roundedCorners animatedGIF" src="img/robotics/robots.gif"/>APRIL Robotics Lab</a><br>
            <a href="http://www.youtube.com/watch?v=J7tMyShg9-A"><img class="roundedCorners animatedGIF" src="img/umich/pursuitRevealShort.gif"/>"Pursuit", a live-action special-effects-demo chase scene</a>
		</div>
		<div class="span1"></div>
	</div>
</div>