<div id="header" class="weddingHeaderContainer"></div>
	

<div class="weddingDoodle1"></div>
<div class="weddingDoodle2"></div>

<div id="info" class="row weddingInfoContainer">
	<div class="span11 offset1 text-center">
		<img src="img/wedding/info.png">
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="span4">
			<div id="menuItemBoxStory" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxCeremony" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxParty" class="menuItemBox"></div>	
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div id="menuItemBoxRegistry" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxInfo" class="menuItemBox"></div>	
		</div>
		<div class="span4">
			<div id="menuItemBoxPhotos" class="menuItemBox"></div>	
		</div>
	</div>
</div>