<div id="header" class="weddingHeaderContainer"></div>
	

<div class="weddingDoodle1"></div>
<div class="weddingDoodle2"></div>

<div id="info" class="row weddingInfoContainer">
	<div class="span11 offset1 text-center">
		<img src="img/wedding/info.png">
	</div>
</div>



<div class="row" style="float: none; margin: 50px 0 100px 50px">
	<div class="span4 menuItemBox" id="menuItemBoxStory">
		<a id="menuItemLinkStory" class="menuItemLink" href="#wedding/story">The Story</a>
	</div>
	<div class="span4 menuItemBox" id="menuItemBoxCeremony">
		<a id="menuItemLinkCeremony" class="menuItemLink" href="#wedding/ceremony">Ceremony and Reception</a>
	</div>
	<div class="span4 menuItemBox" id="menuItemBoxParty">
		<a id="menuItemLinkParty" class="menuItemLink" href="#wedding/party">Party</a>
	</div>
</div>

<div class="row" style="float: none; margin: 50px 0 100px 50px">
	<div class="span4 menuItemBox" id="menuItemBoxRegistry">
		<a id="menuItemLinkRegistry" class="menuItemLink" href="#wedding/registry">Registry</a>
	</div>
	<div class="span4 menuItemBox" id="menuItemBoxInfo">
		<a id="menuItemLinkInfo" class="menuItemLink" href="#wedding/info">More Info</a>
	</div>
	<div class="span4 menuItemBox" id="menuItemBoxPhotos">
		<a id="menuItemLinkPhotos" class="menuItemLink" href="#wedding/photos">Photos</a>
	</div>
</div>