<div class="container">
        
        <div id="header"></div>
            
        <div id="info" class="row">
            <div class="span12 pagination-centered">
                <img src="img/wedding/info.png">
            </div>
        </div>
    
        <div class="row">
            <div class="span4 menuItemBox" id="menuItemBoxStory">
                <a id="menuItemLinkStory" class="menuItemLink" href="#wedding/story">The Story</a>
            </div>
            <div class="span4 menuItemBox" id="menuItemBoxCeremony">
                <a id="menuItemLinkCeremony" class="menuItemLink" href="#wedding/ceremony">Ceremony and Reception</a>
            </div>
            <div class="span4 menuItemBox" id="menuItemBoxParty">
                <a id="menuItemLinkParty" class="menuItemLink" href="#wedding/party">Party</a>
            </div>
        </div>
    
        <div class="row">
            <div class="span4 menuItemBox" id="menuItemBoxRegistry">
                <a id="menuItemLinkRegistry" class="menuItemLink" href="#wedding/registry">Registry</a>
            </div>
            <div class="span4 menuItemBox" id="menuItemBoxInfo">
                <a id="menuItemLinkInfo" class="menuItemLink" href="#wedding/info">More Info</a>
            </div>
            <div class="span4 menuItemBox" id="menuItemBoxPhotos">
                <a id="menuItemLinkPhotos" class="menuItemLink" href="#wedding/photos">Photos</a>
            </div>
        </div>
        

    
    
    
    
    
    
    
    
    
</div>